

body  {
        margin: 30px;
        background-image: url(../images/background2.jpg);
        background-repeat: repeat;
}
.jumbotron {
    background-image: url("../images/smokingfrenchie.jpg"), url("../images/crown.jpg");
    background-size: contain;
    background-repeat:no-repeat, repeat;
    background-position: right;
    color: black;
    font-family: 'Anton', sans-serif;
    border: 15px outset goldenrod;
}
.work {
    background-color:black;
}
.container3 {
    background-color: burlywood;
    border: 15px solid darkgoldenrod;
}
.main-p {
    color: black;
    font-size: 30px;
    align-self: auto;
}

.footer2 {
    /* margin-left: 45%; */
}
.card {
    margin-left:
}
#bio-image {
    align-content: flex-start;
    border: 15px groove darkgoldenrod;
}
 .card {
    border: 5px inset RGB(255,59,59);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }